<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Uband的朋友们</title>
    
    <link rel="stylesheet" href="/static/lib/weui/style/weui.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body ontouchstart>
	<div class="details-head">
		<div class="details-head-img-page">
			<a href="/"><img  class="back-icon" src="/static/img/back-icon.png" ></a>
			<img class="details-head-img" src="/static/img/uband-jiang.jpg"  alt="">
		</div>
		<div class="details-head-desc-page">
			<div class="details-head-name">{{data.name}}</div>
			<p class="details-head-desc">{{data.detail_des}}
		</div>
	</div>
</body>
</html>